.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.col-md-6 {
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 20px;
}

.form-group {
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.link-button {
  width: calc(50% - 10px);
}

.error-msg{
  color: red;
}
