<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 mt-5">
      <h2>Register</h2>
      <form (ngSubmit)="register()">
        <mat-form-field class="form-group">
          <mat-label>Username</mat-label>
          <input matInput type="text" id="username" name="username" [(ngModel)]="username" required>
        </mat-form-field>
        <mat-form-field class="form-group">
          <mat-label>Password</mat-label>
          <input matInput type="password" id="password" name="password" [(ngModel)]="password" required>
        </mat-form-field>
        <div class="button-container">
          <button mat-raised-button class="register-button" type="submit">Register</button>
        </div>
        <p class="error-msg mt-2" *ngIf="errorMessage">{{ errorMessage }}</p>
      </form>
    </div>
  </div>
</div>
