<app-navbar></app-navbar>

<div class="row" *ngFor="let weapon of weaponsToDisplay">
  <div class="col">
    <div class="weapon-card">
      <h2>{{ weapon.name }}</h2>
      <p>Price: {{ weapon.price }}</p>
      <p>Tags: {{ weapon.tags.join(', ') }}</p>
      <div class="count-input">
        <input type="number"  placeholder="Count">
      </div>
      <button>Add to Cart</button>
    </div>
  </div>
</div>

<div class="pagination">
  <button *ngFor="let page of pages" (click)="onPageChange(page)" [class.active]="page === currentPage">{{ page }}</button>
</div>
